@import "../../../scss/libs/vars";

.set-size {
  font-size: 12em;
  position: absolute;
}

.set-size-2 {
  font-size: 9em;
  position: absolute;
  left: 24px;
  top: 24px;
}

.set-size-3 {
  font-size: 6em;
  position: absolute;
  left: 48px;
  top: 48px;
}

.charts-container {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

.pie-wrapper {
  @include size($default-size, $default-size);
  float: left;
  margin: 20px;
  position: relative;
  
  &:nth-child(3n + 1) {
    clear: both;
  }

  .pie {
    @include size(100%, 100%);
    clip: rect(0, $default-size, $default-size, $default-size / 2);
    left: 0;
    position: absolute;
    top: 0;

    .half-circle {
      @include size(100%, 100%);
      border: $progress-width solid #3498db;
      border-radius: 50%;
      clip: rect(0, $default-size / 2, $default-size, 0);
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .ci-shadow {
    @include size(100%, 100%);
    border: $progress-width - 2px solid $almost-black-color;
    border-radius: 50%;
  }


  &.progress-72 {
    @include draw-progress(72, $blue-color);
  }

  &.progress-30 {
    @include draw-progress(30, $orange-color);
  }

  &.progress-60 {
    @include draw-progress(60, $light-blue-color);
  }

}

