body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.main_backgroud {
  position: fixed; 
  top: 0; 
  left: 0; 
	background-size: cover;
  min-width: 100%;
  min-height: 100%;
  z-index: -9999;
  transition: .95s;
}

.blured_backgroud{
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

@media screen and (max-width: 1024px) {
    /* .main_backgroud {
      left: 50%;
      margin-left: -512px;
    } */
  }