@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.navbar {
    padding: .555rem;
    display: flex;
    justify-content: space-between;
    .left_nav,
    .right_nav {
        display: flex;
        transition: all .5s;
    
    }
}


.main_btn {
    background-color: #af93ea;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: .6rem;
}

.icon {
    width: 20px;
    height: 20px;
}

.other_btns {
    background-color: #282a37;
    display: flex;
    overflow: auto;
    margin-left: .555rem;
    overflow: hidden;
}


.other_btns {
    a, .btn-primary {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        padding: .6rem;
        font-size: 1.15rem;
        color: #fff;
        font-weight: bold;
        font-family: 'Ubuntu', sans-serif;
        cursor: pointer;
        text-decoration: none;
        transition: all 1s ease;
    
        &:hover {
            // .description{
            //     animation: description 1s backwards ease;
            //     display: flex;
            //     position: relative;
            //     left: 0;
            // }
        }
    
        .description {
            margin-left: 10px;
            position: absolute;
            display: none;
            left: -55px;
            transition: all 1s ease;
            &.active {
                left: 0;
                display: flex;
                position: relative;
                // background-color: white;
            }
        }

        &.disabled {
            background-color: gray;
            cursor:default;
        }
    }

    .btn-primary:hover {
        margin-top: -3px;
        border-bottom: solid 2px #af93ea;
        transition: .15s;
    }
}

.btn-primary:active {
    filter: drop-shadow(0 0 0 rgb(48, 201, 99));
    transition: filter 0s;
    // animation: icon-bubble 1s 1 backwards ease-in-out;
}

@keyframes icon-bubble {
    50% {
        transform: scale(1.2);
    }
}

@keyframes description {
    from {
        opacity: 0;
        left: -55px;
        width: 0px;
    }

    to {
        opacity: 1;
        left: 0;
        width: max-content;
    }
}

.other_btns {

    .volume {
        background-color: greenyellow;
        transition: .25s linear;
    }
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .6rem;
    font-size: 1.15rem;
    color: #fff;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    cursor: default;
    transition: .25s linear;

}

.gr {
    background-color: greenyellow;
    color: black;
}
