.mes__wrapepr{
    display: flex;
    justify-content: center;
    margin-top: 30vh;
}

.message {
    transform: translatey(0px);
    animation: float 5s ease-in-out infinite;
    /* mix-blend-mode: multiply; */
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 15px;
    color: #774f38;
    background-color: #ece5ce;
    padding: 50px;
    border-radius: 11px;
    box-shadow: 20px 20px #83af9b;
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid #c8c8a9;
  
    width: clamp(200px, 50%, 400px);
    
}

@media screen and (max-width: 1024px) {
    .message{
        left: calc(50% - 35vw);
        top: calc(50% - 25vh);
    }
    .cat-container{
        left: 35vw;
    }

}

.message:after {
    transform: translatey(0px);
    animation: float2 5s ease-in-out infinite;
    content: ".";
    font-weight: bold;
    -webkit-text-stroke: 0.5px #c8c8a9;
    -webkit-text-fill-color: #ece5ce;
    border: 1px solid #c8c8a9;
    text-shadow: 22px 22px #83af9b;
    text-align: left;
    font-size: 55px;
    height: 11px;
    width: 65px;
    line-height: 30px;
    border-radius: 11px;
    background-color: #ece5ce;
    position: absolute;
    display: block;
    bottom: -30px;
    left: 0;
    box-shadow: 22px 22px #83af9b;
    z-index: -2;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-30px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes float2 {
    0% {
        line-height: 30px;
        transform: translatey(0px);
    }

    55% {
        transform: translatey(-15px);
    }

    60% {
        line-height: 10px;
    }

    100% {
        line-height: 30px;
        transform: translatey(0px);
    }
}